.Titulo {
    padding-top: 60px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 0px solid white;
}

    .Titulo h1 {
        text-align: center;
        color: rgb(0, 0, 0);
    }

.card-deck {
    width: 100%;
    justify-content: center;
    padding: 50px;
}

    .card-deck .card .card-body {
        text-align: center;
        width: 100%;
        padding: 10px;
        margin: 0;
    }

    .card-deck .card img {
        height: 250px;
    }

.mensaje h2 {
    text-align: center;
}

/*animacion al buscador*/
.form-inline 
{
    align-items: center;
}
.form-inline .form-group {
    width: 100%;
}

.form-inline .form-group #buscador {
    width: 75%;
    margin-right: 5px;
    outline-color: #148F77;
}
.form-inline .form-group #boton {
    width: 10%;
    background: #148F77;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
}
/*pregunta*/
.boton-agregar
{
    padding:20px;
    max-width: 100%;
}
.boton-agregar a {
    background: #148F77;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
    text-decoration: none;
    float: right;
    width: 20%;
    text-align: center
}


/*Tabla*/
.table {
    text-align: center;
    max-width: 100%;
    margin: 20px auto;
}
