#efecto {
    justify-content: center;
    align-items: center;
}

.fondo {
    width: auto;
    height: auto;
}

.seccion1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: left;
}

.seccion2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: right;
}
.contenido {
    padding: 5%;
}
