@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso Denegado";
}

<div class="text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <h6 class="text-danger">No tienes acceso a este recurso.</h6>
    <img src="https://png-3.vector.me/files/images/3/2/329292/delete_icon_preview" style="height:300px; width:300px" />
</div>
