@model IEnumerable<Huertos_Autosustentables.Models.Cultivo>

@{
    ViewData["Title"] = "Galapagos";
}
<div class="m-5">
    <h3 class="text-center font-weight-bold">Región Galápagos</h3>
    <h4 class="text-center"> Elige el Alimento que Deseas Cultivar</h4>
    <hr />
    <div class="text-center">
        <form class="form-inline" asp-controller="Usuarios" asp-action="Galapagos" method="get">
            <div class="form-group ounded mx-auto d-block w-75">
                <input class="form-control w-75" id="buscador" type="text" name="SearchString" placeholder="Buscar alimento">
                <input class="btn btn-info" type="submit" value="Buscar" />
            </div>
        </form>
    </div>
    <br />
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-sm-6 col-12 w-25 mx-auto rounded shadow p-3 mb-5 rounded bg-light">
                    <div class="panel text-center">
                        <div class="panel-heading "><h4 class="text-center">@item.NombreCultivos</h4></div>
                        <div class="panel-body">
                            <img id="imagen-cultivo" src="@("/img/cultivo/" + item.ImageName)" asp-append-version="true" class="img-responsive rounded-pill" width="250" height="200" />
                            <br /><br />
                            <a class="btn btn-info" asp-action="Detalle" asp-route-id="@item.IdCultivos ">Detalles</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
