@model Huertos_Autosustentables.Models.Region

@{
    ViewData["Title"] = "Create";
}
<div class="m-5">
    <h4>Crear región</h4>
    <hr />
    <form asp-action="Create" enctype="multipart/form-data" method="post">
        <div class="form-row">
            <div class="form-group col-lg-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NombreRegiones" class="control-label"></label>
                    <input asp-for="NombreRegiones" class="form-control" />
                    <span asp-validation-for="NombreRegiones" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-lg-4">
                <div class="form-group">
                    <label asp-for="IdClima" class="control-label"></label>
                    <select asp-for="IdClima" class="form-control" asp-items="ViewBag.IdClima"></select>
                </div>
            </div>
            <div class="form-group col-lg-4">
                <div class="form-group">
                    <label asp-for="CaracterisitcasRegiones" class="control-label"></label>
                    <input asp-for="CaracterisitcasRegiones" class="form-control" />
                    <span asp-validation-for="CaracterisitcasRegiones" class="text-danger"></span>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-row">
            <div class="form-group col-lg-12 rounded mx-auto d-block">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12">
                <input type="submit" value="Crear" />
            </div>
        </div>   
    </form>
    <hr />
    <div>
        <a asp-action="Index">Regresar a la lista</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
