@model Huertos_Autosustentables.Models.Cultivo
@{
    ViewData["Title"] = "Create";
}

<div class="m-5">
    <h4>Formulario para crear un nuevo cultivo</h4>
    <hr />
    <form asp-action="Create" enctype="multipart/form-data" method="post">
        <div class="form-row">
            <div class="form-group col-lg-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <label asp-for="NombreCultivos" class="control-label"></label>
                    <input asp-for="NombreCultivos" class="form-control" placeholder="Nombre del cultivo"/>
                    <span asp-validation-for="NombreCultivos" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-lg-4">
                <div>
                    <label asp-for="IdTipoCultivo" class="control-label"></label>
                    <select asp-for="IdTipoCultivo" class="form-control" asp-items="ViewBag.IdTipoCultivo"></select>
                </div>
            </div>
            <div class="form-group col-lg-4">
                <div>
                    <div>
                        <label asp-for="IdRegiones" class="control-label"></label>
                        <select asp-for="IdRegiones" class="form-control" asp-items="ViewBag.IdRegiones"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-4">
                <label asp-for="IntroduccionCultivos" class="control-label"></label>
                <textarea asp-for="IntroduccionCultivos" class="form-control" rows="5" placeholder="Resumen breve de la historia del cultivo"></textarea>
                <span asp-validation-for="IntroduccionCultivos" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-4">
                <label asp-for="CuerpoCultivos" class="control-label"></label>
                <textarea asp-for="CuerpoCultivos" class="form-control" rows="5" placeholder="Beneficios de la planta"></textarea>
                <span asp-validation-for="CuerpoCultivos" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-4">
                <label asp-for="RecomendacionesCultivos" class="control-label"></label>
                <textarea asp-for="RecomendacionesCultivos" class="form-control" rows="5" placeholder="Recomendaciones para cuidar el cultivo"></textarea>
                <span asp-validation-for="RecomendacionesCultivos" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <div class="form-row">
            <div class="form-group col-lg-12">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12">
                <input type="submit" value="Crear cultivo" class="btn" />
            </div>
        </div>
    </form>
    <hr />
    <div>
        <a asp-action="Index">Regresar a la lista</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
